name: HACS Validation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate repository for HACS
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: HACS validation
        uses: hacs/action@main
        with:
          category: "integration"

  markdown-lint:
    runs-on: ubuntu-latest
    name: Lint markdown files
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lint markdown
        uses: avto-dev/markdown-lint@v1
        with:
          args: '*.md'
          ignore: 'CHANGELOG.md'
